body {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#status {
    font-size: 24px;
}
#knockout-buttons {
    position: absolute;
    bottom: 5px;
    right: 5px;
}
#knockout-buttons .btn {
    display: inline-block;
}

@media (max-width: 850px) {
    #status {
        bottom: 55px;
    }
    #knockout-buttons {
        right: null;
        left: 5px;
    }
}

